* {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size-adjust: auto;
}

body {
    background-image: linear-gradient(to bottom right, yellow, orange, red);
    border: double 2px black;
    margin: 0px;
    padding: 0px;
}

header {
    height: 100px;
    width: 100%;
    background-image: url(../images/night\ sky\ 2.jpg);
}

h1 {
    color: white; 
    font-size: 45px;
    font-weight: 800;
}

nav {
    background-image: url(../images/night\ sky\ 2.jpg);
    height: 25px;
    width: 100%;
}

ul {
    display: inline;
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

li {
    margin-right: 25px;
}

h2 {
    font-size: 45px;
    font-weight: 800;
    height: 50px;
    width: 100%;
    border-bottom: 2px dashed black;
}

section {
    height:auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#me {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin-left: 100px;
}

article {
    height: 200px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 5px 25px 5px 25px;
}

.bigbox {
    height: 600px;
    background-image: url(../images/depositphotos_11831225-stock-photo-deep-space-abstract-natural-backgrounds.jpg);
}

#bigpic {
    height: 500px;
}

#bigpopup {
    position: absolute;
    align-content: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    background-color: white;
    border: 2px solid black;
    margin-top: 250px;
    color: black;

    
}

#p1 {
    color: black;
}

.boxes {
    width: 100%;
    align-content: space-evenly;
    background-image: url(../images/depositphotos_11831225-stock-photo-deep-space-abstract-natural-backgrounds.jpg);
}

img {
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    border: 5px solid black;
    margin: 1%;
    align-content: space-around;
    justify-content: space-evenly;
}

figure {
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    margin: 1%;
    align-content: space-around;
    justify-content: space-evenly;
    filter: blur(2px);
}

#cards p {
    background-color: lightgrey;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    width: 100%;
    text-align: center;
    align-content:space-around;
    justify-content: space-evenly;
    border: 5px inset black;
    border-radius: 20px;
}

section p {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    text-align: center;
    align-content: space-around;
    justify-content: space-evenly;
}

.popup {
    position: absolute;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    border: 2px solid black;
    margin-top: 90px;

}

.bigpopup {
    color: black;
}

footer {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 35px;
}

figure:hover {
    filter: blur(0px);
    }

a:-webkit-any-link {
        color: white;
        cursor: pointer;
        text-decoration: none;
}

a:hover {
    background-color: white;
    color: darkgoldenrod;
}

#cards p:hover {
    background-color: tan;
    box-shadow: 5px 5px 5px black;
}

@media screen and (max-width: 851px){
    #cards p {
        font-size: 25px;
    }
    
}

@media screen and (max-width: 706px) {
    #cards p {
        font-size: 13px;
    }

    #me {
        margin-left: 50px;
    }
    
}

@media screen and (max-width: 528px) {
    article {
        font-size: 17px;
    }

}

@media screen and (max-width: 515px) {
    ul {
        font-size: 17px;
    }
    
}

@media screen and (max-width: 454px) {
    #cards p {
        font-size: 11px;
    }

    article {
        font-size: 15px;
    }
    
    ul{
        font-size: 15px;
    }
}

@media screen and (max-width: 418px) {
    #me {
        margin-left: 10px;
    }

    ul {
        font-size: 12px;
    }

    .boxes{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #cards {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #cards p {
        font-size: 20px;
    }
}

@media screen and (max-width: 281px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    
    article {
        font-size: 10px;
    }

    header {
        height: 65px;
    }

    ul {
        font-size: 8px;
    }
}